<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}首页{% endblock %} - {{ staticInfo.theName }}</title>
        {% block cssBefore %}
        {% endblock %}
        <link rel="stylesheet" type="text/css" href="/static/css/base.css">
        <link rel="stylesheet" type="text/css" href="/static/css/central/index.css">
        <link rel="stylesheet" type="text/css" href="/static/fonts/central/iconfont.css">
        {% block cssBehind %}
        <link rel="stylesheet" type="text/css" href="/static/css/img-rolling.css">
        {% endblock %}
    </head>
    <body>
        <header>
            <div class="wrap color-6 nav-fixed">
                <a href="/"><h2 style="background-image: url(/static/upload/{{ staticInfo.theLogo }});" class="font-16 nav-content fl">
                    {{ staticInfo.theName }}
                </h2></a>
                <nav class="nav-content fr">
                    <ul class="color-3 font-15 nav-list fl">
                        <li><a href="/">首页</a></li>
                        <li><a href="
                            {% if user.is_authenticated %}
                                        {{ user.userprofile.branch.link }}
                            {% else %}
                                        /login
                            {% endif %}
                            ">我的大学</a></li>
                        <li><a href="/current">高校动态</a></li>
                        <li><a href="
                            {% if user.is_authenticated %}
                                        {{ user.userprofile.branch.link }}/bbs
                            {% else %}
                                        /login
                            {% endif %}
                            ">论坛</a></li>
                        <li><a href="/about?art={{ intro.theName }}">关于本站</a></li>
                    </ul>
                    <div class="font-14 nav-aside nav-content fl">
                        {% if user.is_authenticated %}
                            欢迎, <a href="{{ user.userprofile.branch.link }}">{{ user.username }}</a>
                            <span>|</span>
                            <a href="/logout">注销</a>
                        {% else %}
                            <a href="/login">登录</a>
                            <span>|</span>
                            <a href="/signup">注册</a>
                        {% endif %}
                    </div>
                </nav>
            </div>
        </header>
        <div></div>
        {% block hero %}
        <a class="goto fr" href="
                            {% if user.is_authenticated %}
                                        {{ user.userprofile.branch.link }}
                            {% else %}
                                        /login
                            {% endif %}
                            ">
            <div>
                去了解我的大学
            </div>
        </a>
        <div class="qr-code" style="background-image: url(/static/upload/{{ staticInfo.theQRCode }})">
            了解更多
        </div>
        <div class="color-3 wrap hero-img img-rolling">
            Loading...
            <div id="hero" class="img-rolling-curr">
                <div class="rollingl rolling-btn absl"></div>
                <ul>
                    {% for img in heroImages %}
                    <li><a style="background-image:url(/static/upload/{{ img.theImage }});" href="{{ img.theLink }}"></a></li>
                    {% endfor %}
                </ul>
                <div class="rollingr rolling-btn absr"></div>
            </div>
        </div>
        {% endblock %}
        <div class="art wrap">
            <div class="art-disp fl font-14 color-5">
            {% block content%}
                <div class="fl">
                    <h3 class="font-22">{{ intro.theTitle }}</h3>
                    <a href="/about?art={{ intro.theName }}" class="list-more color-a">更多>></a>
                    <div class="text-center"><img height="160" src="/static/upload/{{ intro.theImage }}"></div>
                    <div class="list-content list-about font-17">
                        {{ intro.theContent|safe }}
                    </div>
                </div>
                <div class="fl">
                    <h3 class="font-22">{{ team.theTitle }}</h3>
                    <a href="/about?art={{ team.theName }}" class="list-more color-a">更多>></a>
                    <div class="text-center"><img height="160" src="/static/upload/{{ team.theImage }}"></div>
                    <div class="list-content list-about font-17">
                        {{ team.theContent|safe }}
                    </div>
                </div>
                <div class="fl">
                    <h3 class="font-22">高校动态</h3>
                    <a href="/current" class="list-more color-a">更多>></a>
                    <ul>
                        {% for current in currents %}
                        <li>
                            <a href="/current/{{ current.id }}">{{ current.title }}</a>
                            <time class="font-12 color-9 fr">[{{ current.update_time }}]</time>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="fl">
                    <h3 class="font-22">高校秘密</h3>
                    <a href="
                            {% if user.is_authenticated %}
                                        {{ user.userprofile.branch.link }}/bbs
                            {% else %}
                                        /login
                            {% endif %}
                            " class="list-more color-a">更多>></a>
                    <div class="list-branchs">
                        {% for branch in branchs|slice:":8" %}
                        <a style="background-image: url(/static/upload/{{ branch.logo }})" href="{{ branch.link }}/bbs">
                            <h4>{{ branch.name }}</h4>
                        </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="clearf"></div>
            {% endblock%}
            </div>

            <div class="art-aside fr font-14">
                <ul class="aside-nums">
                    <li>
                        <p>{{ staticInfo.theVisits }}</p>
                        <p>访问量</p>
                    </li>
                    <li>
                        <p>{{ staticInfo.theSigners }}</p>
                        <p>注册人数</p>
                    </li>
                    <li>
                        <p>{{ staticInfo.thePartners }}</p>
                        <p>合作伙伴</p>
                    </li>
                </ul>
                <div class="aside-video">
                    <h3>本站宣传视频</h3>
                    <video width="310" controls="controls">
                        <source src="/static/upload/{{ videoFiles.OGG }}" type="video/ogg" />
                        <source src="/static/upload/{{ videoFiles.MP4 }}" type="video/mp4" />
                        <source src="/static/upload/{{ videoFiles.WEBM }}" type="video/webm" />
                        使用更高版本浏览器查看视频
                    </video>
                </div>
                <div class="aside-addition">
                    <h3>特别关注</h3>
                    <a href="{{ noticeImage.theLink }}">
                        <img width="310" src="/static/upload/{{ noticeImage.theImage }}">
                    </a>
                </div>
                <div class="aside-comm">
                    <h3>联系方式</h3>
                    <table>
                        <tr>
                            <td class="iconfont">&#xe613;</td>
                            <td>{{ staticInfo.theTEL }}</td>
                        </tr>
                        <tr>
                            <td class="iconfont">&#xe636;</td>
                            <td>{{ staticInfo.theEmail }}</td>
                        </tr>
                        <tr>
                            <td class="iconfont">&#xe62d;</td>
                            <td>{{ staticInfo.theAddress }}</td>
                        </tr>
                        <tr>
                            <td class="iconfont">&#xe744;</td>
                            <td>{{ staticInfo.thePostcode }}</td>
                        </tr>
                    </table>
                    <p id="aside-comm-all"><a href="/about?art={{ commi.theName }}">各高校负责人联系方式>></a></p>
                </div>
            </div>
            <div class="clearf"></div>
        </div>
        <footer>
            <ul class="foot-about font-12 color-c">
                <span>Copyright &copy; 2017 <a href="http://{{ staticInfo.theLink }}">{{ staticInfo.theName }}</a> | <a class="color-7" href="/admin">后台登陆入口</a></p></span>
                <li><a href="/commi/send">提建议、求助，请联系我们</a></li>
                <li><a href="/commi/join">加入我们</a></li>
            </ul>
        </footer>
        <script src="/static/js/jquery-3.1.1.min.js"></script>
        {% block js %}
        <script src="/static/js/img-rolling.js"></script>
        <script src="/static/js/central/index.js"></script>
        {% endblock %}
    </body>
</html>