{% extends 'central/index.html' %}

{% block title %}用户注册{% endblock %}
{% block cssBefore %}
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/bootstrap-select.min.css" rel="stylesheet">
{% endblock %}
{% block cssBehind %}{% endblock %}
{% block hero %}{% endblock %}

{% block content %}
    <article style="margin-top: 100px;">
        <form class="form-horizontal well" method="POST" action="/signup/commit">
            {% csrf_token %}
            <div class="form-group form-group-lg">
                <label for="username" class="col-md-2 control-label">用户名:</label>
                <div class="col-md-10">
                    <input id="username" name="name" value="{{ username }}" type="text" class="form-control" placeholder="用户名">
                </div>
            </div>
            <div class="form-group form-group-lg">
                <label for="branch" class="col-md-2 control-label">学校:</label>
                <div class="col-md-10">
                    <select id="branch" name="branch" class="selectpicker" title="请选择学校" data-size="5">
                        {% for branch in branchs %}
                        <option>{{ branch.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            
            <div class="form-group form-group-lg">
                <label for="email" class="col-md-2 control-label">邮箱:</label>
                <div class="col-md-10">
                    <input id="email" name="email" value="{{ email }}" type="email" class="form-control" placeholder="邮箱">
                </div>
            </div>
            <div class="form-group form-group-lg">
                <label for="password" class="col-md-2 control-label">密码:</label>
                <div class="col-md-10">
                    <input id="password" name="password" type="password" class="form-control" placeholder="请输入密码">
                </div>
            </div>
            <div class="form-group form-group-lg">
                <label for="passwordAgain" class="col-md-2 control-label">再次输入密码:</label>
                <div class="col-md-10">
                    <input id="passwordAgain" type="password" class="form-control" placeholder="再次输入密码">
                </div>
            </div>
            <div class="form-group form-group-lg">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-primary">提交</button>
                    {% if not isSignupSuccess %}
                        <span style="color: #ee3b3b">用户名已存在</span>
                    {% endif %}
                </div>
            </div>
        </form>
    </article>
{% endblock %}

{% block js %}
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/bootstrap-select.min.js"></script>
<script src="/static/js/central/signup.js"></script>
{% endblock %}