.img-rolling
{
    position: relative;
    height: 10em;
    line-height: 10em;
    background-color: #777;
    text-align: center;
}

.img-rolling-curr ul li a
{
    background-position: center center;
    background-size: 100% auto;
}

.img-rolling-curr, .img-rolling-curr ul, .img-rolling-curr li, .img-rolling-curr a
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.img-rolling-curr
{
    z-index: 0;
    background-color: #fff;
}

.img-rolling-curr ul li
{
    z-index: 1;
    display:none;
}

.rolling-btn
{
    z-index: 2;
    position: absolute;
    width: 41px;
    height: 69px;
    background: url(/static/img/rolling-btn.png) no-repeat 50%;
}

.rollingl
{
    background-position: -85px;
}

.rollingr
{
    background-position: -125px;
}

.rollingl:hover
{
    cursor: pointer;
    background-position: 0px;
}

.rollingr:hover
{
    cursor: pointer;
    background-position: -42px;
}