.media-wrap
{
    margin-top: 50px;
}

.hot-img-wrap
{
    width: 350px;
    margin-left: 22.5px;
}

.hot-img-wrap .rolling-btn
{
    margin-top: 120px;
}

.hot-text-wrap
{
    position: relative;
    width: 393px;
    height: 10em;
    overflow: hidden;
    box-shadow: 0 3px 5px #ccc;
    transition: all 0.2s;
}

.hot-text-wrap h3
{
    font-size: 24px;
    text-align: right;
    border-top: 3px solid #08397e;
    border-right: 1em solid #08397e;
}

.hot-text-wrap h3 a
{
    padding-left: 1em;
    color: white;
    background-color: #08397e
}

.hot-text-wrap h3 a::after
{
    content: ">>";
    color: #08397e;
    transition: color 0.2s;
}

.hot-text-wrap h3 a:hover::after
{
    color: white;
}



.hot-text-wrap ul
{
    margin: 1em 30px 0 33px;
}

.hot-text-wrap ul li
{
    position: relative;
    margin-bottom: 5px;
}

.hot-text-wrap ul li::before
{
    display: block;
    position: absolute;
    left: 2.5px;
    top: 10px;
    width: 5px;
    height: 5px;
    border-radius: 50% 50%;
    content: "";
    background-color: #08397e;
}

.hot-text-wrap ul li a
{
    width: 315px;
    display: inline-block;
    border-left: 10px solid transparent;
    transition: border-color 0.2s;
    padding-left: 5px;
}

.hot-text-wrap ul li.hot-current a
{
    border-color: #08397e;
}

.hot-text-wrap ul li a p
{
    display: none;
    color: #999;
    font-size: 14px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.hot-text-wrap ul li.hot-current a p
{
    display: block;
}

.hot-text-wrap ul li.hot-current::before
{
    display: none;
}

.hot-text-wrap ul li a *
{
    transition: color 0.2s;
}

.hot-text-wrap ul li a:hover *
{
    color: #08397e;
}

.search
{
    display: block;
    width: 350px;
    height: 50px;
    margin: 0 21.5px;
}

.search-input
{
    display: block;
    width: 298px;
    height: 50px;
    padding: 0 10px;
    border: 1px solid #ddd; 
    transition: all 0.2s;
}

.search-input:focus
{
    border-color: #08397e;
    outline: none;
}

.search-submit
{
    display: block;
    width: 52px;
    height: 50px;
    margin-left: -1px;
    color: #08397e;
    background-color: transparent;
    border: 1px solid #ddd;
    transition: all 0.2s;
}

.search-submit:hover
{
    cursor: pointer;
    background-color: #08397e;
    color: #fff;
}

.search-submit:hover, .search-submit:hover+input
{
    border-color: #08397e;
}

.media-button
{
    display: block;
    position: relative;
    margin: 25px 21.5px 0 21.5px;
    width: 350px;
    line-height: 100px;
    height: 100px;
    border: 1px solid #ddd;
    color: #08397e;
    box-sizing: border-box;
    transition: all 0.2s;
    background-image: url(/static/img/btn-bg.jpg);
}

.media-button span
{
    position: absolute;
    margin: 0;
    right: 50px;
    transition: right 0.3s;
}

.media-button:hover
{
    border-left: 20px solid #08397e;
}

.media-button:hover span
{
    right: 150px;
}

.columns-wrap
{
    margin: 0 0.5px;
}

.columns
{
    width: 350px;
    box-sizing: border-box;
    padding: 1em;
    margin: 3em 21.5px;
    border-top: 3px solid #08397e;
    line-height: 2em;
    height: 365px;
    overflow: hidden;
    box-shadow: 0 3px 5px #ccc;
    transition: all 0.2s;
}

.columns:hover, .hot-text-wrap:hover, .bbs:hover
{
    box-shadow: 3px 5px 10px #aaa;
}

.columns h3
{
    color: #08397e;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #ccc;
}

.columns ul li
{
    padding: 0.5em 1em;
    background: url(/static/img/branch-li.png) 0 18px no-repeat;
}

.columns ul li a:hover
{
    text-decoration: underline;
}

.bbs
{
    height: 400px;
    position: relative;
    width: auto;
    margin: 3em 21.5px;
    border-bottom: 3px solid #08397e;
}

.bbs .post
{
    position: absolute;
    padding: 0.3em 1em;
    right: 0;
    bottom: 0;
    background-color: #08397e;
}

.friendly-links
{
    position: relative;
    margin-bottom: 20px;
}

.friendly-links h3
{
    position: relative;
    text-align: center;
    line-height: 1em;
    padding: 2em;
    width: 2em;
    height: 2em;
    background-color: #08397e;
}

.friendly-links h3::after
{
    content: "";
    position: absolute;
    display: block;
    width: 2em;
    height: 2em;
    right: -2em;
    top: 2em;
    box-sizing: border-box;
    border: 1em solid transparent;
    border-left: 1em solid #08397e;
}

.friendly-links ul
{
    position: absolute;
    z-index: 0;
    left: 6em;
    right: 0;
    border: 2px solid #08397e;
    padding-left: 2em;
    height: 6em;
    box-sizing: border-box;
    overflow: hidden;
}

.friendly-links ul li
{
    display: inline-block;
}

.friendly-links ul img
{
    height: 140px;
}

.content-wrap>div:last-child
{
    margin-bottom: 50px;
}