article
{
    width: 800px;
    margin: 100px auto;
}

article li
{
    font-size: 24px;
    height: 100px;
    margin: 10px;
    padding-left: 120px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    width: 370px;
    display: inline-block;
    box-sizing: border-box;
}

article li a
{
    line-height: 100px;
}

article a:hover
{
    text-decoration: none;
}