<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}首页{% endblock %} - {{ branch }} - {{ section }}</title>
        <link rel="stylesheet" type="text/css" href="static/css/base.css">
        {% block css %}
        {% endblock %}
    </head>
    <body>
        <header>
            <div class="font-base wrap color-6 nav-fixed">
                <h2 style="background-image: url(/static/upload/{{ staticInfo.theLogo }});" class="font-16 nav-content fl">
                    {{ staticInfo.theName }}
                </h2>
                <nav class="nav-content fr">
                    <ul class="color-3 font-15 nav-list fl">
                        <li><a href="#">我的大学</a></li>
                        <li><a href="#">高校动态</a></li>
                        <li><a href="#">论坛</a></li>
                        <li><a href="#">关于本站</a></li>
                    </ul>
                    <div class="font-14 nav-aside nav-content fl">
                        <a href="#">登录</a>
                        <span>|</span>
                        <a href="#">注册</a>
                    </div>
                </nav>
            </div>
        </header>
        
        <footer>
            <ul class="foot-about font-12 color-c">
                <span>© 2017 {{ staticInfo.theLink }}</span>
                <li><a href="#">提建议、求助，请联系我们</a></li>
                <li><a href="#">加入我们</a></li>
            </ul>
        </footer>
        <script src="static/js/jquery-3.1.1.min.js"></script>
        {% block js %}
        {% endblock %}
    </body>
</html>