<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="static/css/base.css">
        <link rel="stylesheet" type="text/css" href="static/css/index.css">
    </head>
    <body>
        <header class="">
            <div class="font-base wrap color-6 nav-fixed">
                <h2 class="font-16 nav-content fl">
                    {{ hello }}
                </h2>
                <nav class="nav-content fr">
                    <ul class="color-3 font-15 nav-list fl">
                        <li>下拉菜单</li>
                        <li>下拉菜单</li>
                        <li>下拉菜单</li>
                        <li>下拉菜单</li>
                    </ul>
                    <div class="font-14 nav-aside nav-content fl">
                        <a href="#">登录</a>
                        <span>|</span>
                        <a href="#">注册</a>
                    </div>
                </nav>
            </div>
        </header>
        <section class="color-3 hero">
            Hero Loading...
            <div id="img-rolling" class="hero-curr">
                <div class="rolling-btn absl"></div>
                <div class="rolling-btn absr"></div>
            </div>
        </section>
        <article class="art wrap">
            <section class="art-disp fl font-14">
                <ul class="arts-list fl">
                    <h3 class="font-16">分类标题</h3>
                    <li><a href="#">跳转到详情页。。。</a></li>
                    <li><a href="#">跳转到详情页。。。</a></li>
                    <li><a href="#">跳转到详情页。。。</a></li>
                    <li><a href="#">跳转到详情页。。。</a></li>
                </ul>
                <ul class="arts-list fl">
                    <h3 class="font-16">分类标题</h3>
                    <li><a href="#">跳转到详情页。。。</a></li>
                    <li><a href="#">跳转到详情页。。。</a></li>
                    <li><a href="#">跳转到详情页。。。</a></li>
                    <li><a href="#">跳转到详情页。。。</a></li>
                </ul>
                <ul class="arts-list fl">
                    <h3 class="font-16">分类标题</h3>
                    <li><a href="#">跳转到详情页。。。</a></li>
                    <li><a href="#">跳转到详情页。。。</a></li>
                    <li><a href="#">跳转到详情页。。。</a></li>
                    <li><a href="#">跳转到详情页。。。</a></li>
                </ul>
                <ul class="arts-list fl">
                    <h3 class="font-16">分类标题</h3>
                    <li><a href="#">跳转到详情页。。。</a></li>
                    <li><a href="#">跳转到详情页。。。</a></li>
                    <li><a href="#">跳转到详情页。。。</a></li>
                    <li><a href="#">跳转到详情页。。。</a></li>
                </ul>
                <ul class="arts-list fl">
                    <h3 class="font-16">分类标题</h3>
                    <li><a href="#">跳转到详情页。。。</a></li>
                    <li><a href="#">跳转到详情页。。。</a></li>
                    <li><a href="#">跳转到详情页。。。</a></li>
                    <li><a href="#">跳转到详情页。。。</a></li>
                </ul>
                <ul class="arts-list fl">
                    <h3 class="font-16">分类标题</h3>
                    <li><a href="#">跳转到详情页。。。</a></li>
                    <li><a href="#">跳转到详情页。。。</a></li>
                    <li><a href="#">跳转到详情页。。。</a></li>
                    <li><a href="#">跳转到详情页。。。</a></li>
                </ul>
                <div class="clearf"></div>
            </section>

            <section class="art-aside fr">
                gasgasdgasd<br><br>
            </section>
            <div class="clearf"></div>
        </article>
        <footer>
            <h3 class="foot-friends font-20 color-f">友情链接</h3>
            <div></div>
            <ul class="foot-about font-12 color-c">
                <span>© 2017</span>
                <li><a href="#">提建议、求助，请联系我们</a></li>
                <li><a href="#">加入我们</a></li>
            </ul>
        </footer>
    </body>
</html>