html, body, div, header, article, footer, nav, ul, h1, h2, h3, h4, h5, h6, p
{
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6
{
    font-size: 1em;
    font-weight: normal;
}

ul
{
    list-style:none;
}

body
{
    font: 10px 'Microsoft Yahei', 'Simsun';
}

html, body, header, article, footer
{
    width: 100%;
}

a
{
    text-decoration: none;
    color: inherit;
}

span
{
    margin: 10px;
}

.fl{float: left;}
.fr{float: right;}
.clearf{clear: both;}

.absl{left: 0;}
.absr{right: 0;}

.dis-blc{display: block;}
.dis-inl{display: inline;}
.dis-ilb{display: inline-block;}

.font-base{font-size: 10px;}
.font-11{font-size: 1.1em;}
.font-12{font-size: 1.2em;}
.font-13{font-size: 1.3em;}
.font-14{font-size: 1.4em;}
.font-15{font-size: 1.5em;}
.font-16{font-size: 1.6em;}
.font-17{font-size: 1.7em;}
.font-18{font-size: 1.8em;}
.font-19{font-size: 1.9em;}
.font-20{font-size: 2.0em;}
.font-22{font-size: 2.2em;}
.font-24{font-size: 2.4em;}
.font-28{font-size: 2.4em;}
.font-30{font-size: 3.0em;}
.font-36{font-size: 3.6em;}

.color-f{color: #fff;}
.color-e{color: #eee;}
.color-d{color: #ddd;}
.color-c{color: #ccc;}
.color-b{color: #bbb;}
.color-a{color: #aaa;}
.color-9{color: #999;}
.color-8{color: #888;}
.color-7{color: #777;}
.color-6{color: #666;}
.color-5{color: #555;}
.color-4{color: #444;}
.color-3{color: #333;}
.color-2{color: #222;}
.color-1{color: #111;}
.color-0{color: #000;}


.wrap
{
    width: 1180px;
    margin: 0 auto;
}