header
{
    z-index: 9;    
    position: fixed;
    top: 0;
    padding: 7px 0 6px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

header h2
{
    padding-left: 60px;
    background-size: 50px 100%;
    background-repeat: no-repeat;
}

h1
{
    font-size: 20px;
    margin: 1em 0;
    text-align: center;
}

article
{
    padding: 3em 3em;
    box-sizing: border-box;
}

.nav-fixed
{
    height: 50px;
}

.nav-content
{
    line-height: 50px;
}

.nav-aside
{
    margin-left: 4em;
    margin-right: 1em;
}

.nav-list li
{
    margin: 0 1em;
    display: inline;
}

.nav-list li:hover
{
    cursor: pointer;
}

a.goto
{
    display: block;
    margin-right: 50px;
    width: 90px;
    height: 400px;
    background: url(/static/img/goto.png) no-repeat;
    background-size: 100% 100%;
    color: #39C;
}

a.goto>div
{
    text-align: center;
    font-size: 18px;
    width: 30px;
    margin-top: 190px;
    margin-left: 30px;
}

body>div:first-of-type
{
    margin-top: 64px;
}

.hero-img
{
    font-size: 50px;
}

.rolling-btn
{
    margin-top: 215px;
}

.art-disp
{
    width: 800px;
    margin-bottom: 30px;
}

div.art-disp>div
{
    width: 780px;
    margin-top: 3em;
    padding-bottom: 2em;
    border-bottom: 1px solid #ccc;
    position: relative;
}

div.art-disp>div:nth-child(1), div.art-disp>div:nth-child(2)
{
    width: 380px;
    margin: 3em 5px 0 5px;
}

div.art-disp>div:nth-last-child(1), div.art-disp>div:nth-last-child(2)
{
    border: none;
}

.art-disp>div h3
{
    margin-left: 1em;
    margin-bottom: 1em;
    color: #000;
}

.art-disp>div li
{
    position: relative;
    padding: 0.5em 1em;
    background: url(/static/img/idx-li.png) 0 16px no-repeat;
}

.art-disp>div a:hover
{
    text-decoration: underline;
}

.list-more
{
    position: absolute;
    top: 0;
    right: 10px;
    line-height: 30px;
}

.list-about p
{
    line-height: 2em;
    margin: 0.5em 0;
    text-indent: 2em;
}

.art-aside
{
    width: 310px;
    margin-top: 2em;
    padding: 0 29px 2em 29px;
    border-left: 1px solid #9AFF9A;
    background-color: #F0F8FF;
}

.art-aside h3
{
    margin: 1em 0;
    font-size: 22px;
    font-weight: bold;
}

.aside-nums li
{
    display: inline-block;
    margin: 1em 2em 1em 0;
}

.aside-nums li p:first-of-type
{
    color: #fe5656;
    font-size: 1.7em;
}

.aside-video
{
    margin: 2em 0;
}

.aside-comm table tr
{
    vertical-align: middle;
}

.aside-comm table td
{
    padding: 5px 5px;
}

#aside-comm-all
{
    margin-top: 1em;
    text-align: right;
    color: #39C;
}

footer
{
    padding: 20px 0 10px;
    background-color: #333;
}

.foot-about
{
    position: relative;
    text-align: right;
}

.foot-about span
{
    position: absolute;
    left: 10px;
}

.foot-about li
{
    display: inline-block;
    margin: 5px 1em;
    padding: 0.2em 2em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/*.foot-about li + li::before
{
    content: "•";
    margin-right: 3px;
    padding: 0px 3px;
    font-family: Arial;
    color: #999;
}*/