{% extends 'branch/base.html' %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/css/branch/index.css">
    <link rel="stylesheet" type="text/css" href="/static/css/img-rolling.css">
{% endblock %}
{% block content %}
    <div class="media-wrap">
        <div class="hot-img-wrap font-30 fl img-rolling">
            <div id="hot-img" class="img-rolling-curr">
                <div class="rollingl rolling-btn absl"></div>
                <ul>
                    {% for article in hot.article_set.all|slice:":8" %}
                        <li>
                            <a style="background-image:url(/static/upload/{{ article.titleImage}});" href="article/{{ article.id }}"></a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="rollingr rolling-btn absr"></div>
            </div>
        </div>
        <div class="hot-text-wrap font-30 fl">
            <h3><a href="column/{{ hot.id }}">热门信息</a></h3>
            <ul id="hot-text" class="font-16">
                {% for article in hot.article_set.all|slice:":8" %}
                    <li>
                        <a href="article/{{ article.id }}">
                            <h4>{{ article.title }}</h4>
                            <p>{{ article.content }}</p>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <form class="search fr">
            <input type="submit" class="search-submit fr font-18 iconfont" value="&#xE604;"/>
            <input type="search" placeholder="站内检索" class="search-input fr font-16 color-7" />
        </form>
        <a href="column/{{ col_share.id }}" class="media-button font-28 fr">
            <span>{{ col_share.name }}</span>
        </a>
        <a href="tools" class="media-button font-28 fr">
            <span>实用小助手</span>
        </a>
        <div class="clearf"></div>
    </div>

    <div class="columns-wrap">
        {% for col in columns %}
        <div class="columns fl">
            <h3 class="font-18">
                {{ col.name }}
                <a href="column/{{ col.id }}" class="fr color-a">更多>></a>
            </h3>
            <ul class="font-14 color-8">
                {% for article in col.article_set.all|slice:":8" %}
                    <li>
                        <a href="article/{{ article.id }}">{{ article.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
        <div class="clearf"></div>
        <div class="columns bbs">
            <h3 class="font-18">
                畅所欲言
            </h3>
            <ul class="font-14 color-8">
                {% for post in posts %}
                    <li>
                        <a href="bbs/post/">{{ post.title }}</a>
                        <time class="fr">{{ post.pub_time }}</time>
                    </li>
                {% endfor %}
                
            </ul>
            <div class="post font-20 fr">
                <a href="bbs#posting" class="color-f">发帖>></a>
            </div>
        </div>
    </div>

    <div class="friendly-links font-24 color-f">
        <h3 class="fl">
            友情链接
        </h3>
        <ul>
            {% for link in friendly_links %}
                <li><a href="{{ link.link }}"><img alt="{{ link.title }}" src="/static/upload/{{ link.image }}" ></a></li>
            {% endfor %}
        </ul>
        <div class="clearf"></div>        
    </div>
    {% for ad in ads %}
        <div>
            <a href="/static/upload/{{ ad.link }}"><img width="1180" height="70" alt="{{ ad.title }}" src="/static/upload/{{ ad.image }}" ></a>
        </div>
    {% endfor %}
        
    <div></div>
{% endblock %}

{% block js %}
    <script src="/static/js/img-rolling.js"></script>
    <script src="/static/js/branch/index.js"></script>
{% endblock %}