{% extends 'branch/base.html' %}
{% block content %}
    <h1>
        {{ post.title }}
    </h1>
    <p>
        <time>{{ post.pub_time|date:"Y/m/d G:i"}}</time>
        <span>{{ post.author }}</span>
    </p>
    <article>
        {{ post.content }}
    </article>

    <ul>
    {% for reply in post.postreply_set.all %}
        <li>
            <h4>
                <time>{{ reply.pub_time|date:"Y/m/d G:i"}}</time>
                <span>{{ reply.author }}</span>
            </h4>
            <p>{{ reply.content }}</p>
        </li>
    {% endfor %}
    </ul>

    <form action="/branch/bbs/post/reply/{{ post.id }}" method="POST">
        {% csrf_token %}
        <textarea name="content"></textarea>
        <input type="submit">
    </form>
{% endblock %}