{% extends 'branch/base.html' %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/branch/tools.css">
{% endblock %}

{% block title %}实用小助手{% endblock %}

{% block content %}
    <article>
        <ul>
        {% for tool in tools %}
            <li style="background-image: url(/static/upload/{{ tool.image }})">
                <a href="{{ tool.link }}">{{ tool.title }}</a>
            </li>
        {% endfor %}
        </ul>
    </article>
{% endblock %}

{% block js %}
<script src="/static/js/upload-url.js"></script>
{% endblock %}

{% block extend%}{% endblock %}