{% extends 'branch/base.html' %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/branch/tools.css">
{% endblock %}

{% block title %}实用小助手{% endblock %}

{% block content %}
    <article>
        {% for tool in tools %}
            <a href="{{ tool.link }}">
                <div style="background-image: url(/static/upload/{{ tool.image }})"></div>
                <p>{{ tool.title }}</p>
            </a>
        {% endfor %}
    </article>
{% endblock %}

{% block js %}
<script src="/static/js/upload-url.js"></script>
{% endblock %}

{% block extend%}{% endblock %}